<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="firstBody">
    <h1 class="firstpage">Welcome to Rent a car application</h1>
    <div class="firstButtons">
      <div class="buttonsList">
        <a href="/user/login"><button>User Login</button></a>
        <a href="/user/registration"><button>User Registration</button></a>
        <a href="/user/adminlogin"><button>Admin Login</button></a>
      </div>
    </div>
  </body>
</html>
